ibm-cloud-sdk-core==3.22.0
ibm-cos-sdk==2.14.0
ibm-cos-sdk-core==2.14.0
ibm-cos-sdk-s3transfer==2.14.0
keras==3.6.0
librosa==0.10.2.post1
lxml==5.2.1
matplotlib==3.9.2
mglearn==0.2.0
mkl-service==2.4.0
ml-dtypes==0.4.1
opt_einsum==3.4.0
optree==0.13.1
pydub==0.25.1
requests==2.32.2
s3transfer==0.10.4
scikit-fuzzy==0.5.0
setuptools==75.1.0
shap==0.46.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
termcolor==2.5.0
xgboost==2.1.2
